{% extends "program/base.html" %}

{%block body %}

<h1> {{problem.name}} - {{possibleScore}} points</h1>

<hr />
{% if possibleScore <= 0 %}

	<p>Problem Failed</p>

{% elif not latestSubmission.successful %}

<form method="POST" enctype="multipart/form-data">{% csrf_token %}
	{{ testForm.as_p}}
	<input type="submit" value="Submit Solution" />
</form>

{% endif %}

{% if submissions %}
<h2>Submissions:</h2>
	<table border="1">
		<tr>
			<th>Correct</th>
			<th>Submission Time</th>
			<th>Details</th>
		</tr>

		{% for submission in submissions %} {% with time=submission.submissionTime %}
			<tr>
				{% if submission.successful %}
					<td class="correct"> &#10004; </td>
				{% else %}
					<td class="notCorrect"> &#x2718; </td>
				{% endif %}
				<td>{{submission.minsAgo}} mins ago</td>
				<td><a href="{% url 'problem result' problem.id submission.id %}">--></a></td>
			</tr>
		{% endwith %} {% endfor %}
	</table>
{% else %}
<p>No Submissions</p>
{% endif %}

<hr />

<h2>Description:</h2>

<p> {{problem.description}} </p>

{% if problem.inputDescription != None %}
	<h2>Input Description:</h2>
	<p>{{ problem.inputDescription }}</p>
{% endif %}
{% if problem.outputDescription != None %}
	<h2>Output Description:</h2>
	<p>{{ problem.outputDescription }}</p>
{% endif %}


{% endblock %}