.progress{
	margin-bottom: 0;
}

.btn-margin-left {
	margin-left: 20px;
}

.btn, .border-round {
	border-radius: 3px 3px 3px 3px;
}

.btn-group .btn.border-dark {
	border-width: 2px;
}
.btn-group .btn.border-dark:nth-child(odd) {
	border-right-width: 1px; 
}
.btn-group .btn.border-dark:nth-child(even) {
	border-left-width: 1px; 
}

.border-dark {
	border-color: #222B47;
	border-style: solid;
	border-width: 2px ;
}

.caret.caret-reversed {
    border-top-width: 0;
    border-bottom: 4px solid #FFFFFF;
}

/* Angular CSS  ==================================*/

.ng-hide-true {
	display: none;
}

/* Changes for Highlight.js */
pre.hljs {
    padding: 0px;
    border: 0px;
}
pre.hljs code {
    border: 0px;
}