{% extends "program/base.html" %}

{% block body %}
<div class="row content">
  <div class="col-md-8">
    <h2>{{userdata.teamName}}</h2>
    <table class="table table-striped">
      <tr>
        <th>Problem</th>
        <th>Solved</th>
        <th>Points</th>
        {%comment%}<th>Attempts</th>{%endcomment%}
        <th>Name</th>
        <th>Time</th>
      </tr>
	  {% for pr,possibleScore,result in data %}
      {% if result.successful and result.graded %}
        <tr class="success">
	  	{% elif result.problem.failed %}
        <tr class="danger">
      {% else %}
        <tr>
	  	{% endif %}
			
			<td>{{pr.id}}</td>

			{% if result == None %}
				<td></td>
			{% elif result.successful and result.graded %}
       		    <td><span class="glyphicon glyphicon-ok"></span></td>
			{% elif not result.successful and result.graded %}
        		<td><span class="glyphicon glyphicon-remove"></span></td>
      {% else %}
            <td><span class="glyphicon glyphicon-question-sign"></span></td>
			{% endif %}

			<td>{{possibleScore}}</td>

			{%comment%}<td><!--ATTEMPTS-->----</td>{%endcomment%}

			<td><a href="{{pr.id}}">{{pr.name}}</a></td>

			{% if result != None %}
				<td>{{ result.submissionTime }} </td>
			{% else %}
				<td class="null"></td>
			{% endif %}

		</tr>
	  {% endfor %}
    </table>
  </div>
</div>
{% endblock %}