{% extends "program/base.html" %}
{% load pageElements %}

{% block body %}
<div class="row content">
  <div class="col-md-12">
<!-- _______________________________________________________________________ -->
  <div class="row">
    <h2>
      {{problem.name}} 
      <span class="pull-right">
        {{possibleScore}} points {%if not correct%}possible{%endif%}
      </span>
    </h2>
  </div>
    <div class="row">
<!-- __COLUMN 1_____________________________________________________________ -->
      <div class="col-md-7">
        <h3>Description</h3>
        <p><pre class="unstyle">{{problem.description}}</pre></p>

        {% if problem.inputDescription != None %}
          <h3>Input</h3>
           <p><pre class="unstyle">{{ problem.inputDescription }}</pre></p>
        {% endif %}

        {% if problem.outputDescription != None %}
          <h3>Output</h3>
          <p><pre class="unstyle">{{ problem.outputDescription }}</pre></p>
        {% endif %}
      </div>

<!-- __COLUMN 2_____________________________________________________________ -->

      <div class="col-md-5">
      <!-- Status Area for pending or correct problems -->
      {% if correct or pending %}
          <h3 class="text-{{latestSubmission | statusCSS}}">
          {{latestSubmission | statusIcon }} 
          {% if pending %}Pending{%endif%}
          for {{possibleScore}} points
          </h3>
        </p>
        <hr />
      {% endif %}

      {% if failed %} <!-- Failed __________________________________________ -->
        <h3 class="text-{{latestSubmission | statusCSS }}">
        {{latestSubmission | statusIcon }}
        Problem failed
      {% elif pending %} <!-- Pending (Waiting to be graded) _______________ -->
      {% elif not pending %} <!-- Graded ___________________________________ -->
        {% if not correct %} 
          {% if error %}
            <p class="text-warning">{{error}}</p>
          {% endif %}
          <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            {{ testForm.as_p}}
            <input type="submit" class="btn btn-default" value="Submit Solution" />
          </form>
        {% endif %}
      {% endif %} <!-- _____________________________________________________ -->

        <!--
        <form role="form">
          <div class="form-group">
            <label for="InputFile">Select a file:</label>
            <input type="file" id="InputFile">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        -->

        {% if submissions %}
        <h3>Previous Submissions</h3>
        <table class="table table-striped">
          <thead>
          <tr>
            <td>Status</td>
            <td>Submission Time</td>
          </tr>
          </thead>
          <tbody>
          {% for submission in submissions %} {% with time=submission.submissionTime %}
            <tr class=" {{ submission | statusCSS }}">
              <td>{{ submission | statusIcon }}</td>
              <td>{{submission.minsAgo}} mins ago</td>

            </tr>
          {% endwith %} {% endfor %}
          </tbody>
        </table>
        {% else %}
          <p>No Submissions</p>
        {% endif %}

        <!-- Example Input & Output -->
        {% if problem.inputTest %}
          <h3>Input Example</h3>
          <p>
            {% if problem.inputType == "file" %}
              <span class="glyphicon glyphicon-download-alt"/> <a href="{% url 'text file generator' problem.id%}">{{problem.filename}}</a>
            {% elif problem.inputType == "stdin" %}
              <span>data is provided via stdin.</span>
            {% endif %}
          </p>
          <pre class="hljs hljs-init"><code>{{problem.inputTest}}</code></pre>
        {% endif %}
        {% if problem.outputTest %}
          <h3>Output Example</h3>
          <pre class="hljs hljs-init"><code>{{problem.outputTest}}</code></pre>
        {% endif %}
      </div>

    </div><!-- __END OF ROW_________________________________________________ -->

<!-- _______________________________________________________________________ -->
  </div>
</div>
{% endblock %}