{% extends "program/base.html" %}
{% load pageElements %}

{% block body %}
<div class="row content">
  <div class="col-md-8"> <!-- ______________________________________________ -->

    <h2>{{userdata.teamName}}</h2>
    <table class="table table-hover table-striped">
      <thead>
      <tr>
        <th>Problem</th>
        <th>Solved</th>
        <th>Points</th>
        {%comment%}<th>Attempts</th>{%endcomment%}
        <th>Name</th>
        <th>Time</th>
      </tr>
      </thead>
      <tbody>
  	  {% for pr,score,result,correct,failed,pending in data %}
        <tr class="
              {% if failed %}
                danger
              {% elif correct%}
                success
              {% endif %}
        ">

    			<td>{{pr.id}}</td>

          <td>
      			{% if result %}
      			  {{ result | statusIcon:"white" }}
            {% endif %}
          </td>

    			<td>{{score}}</td>

    			{%comment%}<td><!--ATTEMPTS-->----</td>{%endcomment%}

    			<td>
            <a href="{% url 'problem detail' pr.id %}">
              {{pr.name}}
            </a>
          </td>

          <td>
      			{% if result %}
      				{{ result.submissionTime }}
      			{% endif %}
          </td>
    		</tr>
  	  {% endfor %}
    </tbody>
    </table>


  </div> <!-- ______________________________________________________________ -->
</div>
{% endblock %}