{% extends 'program/base.html' %}
{% block head %}
	<script src="/static/judge/js/grade.js" type="text/javascript"></script>
{% endblock %}

{%block body%}
 
<div class="row content" ng-app="Grading">
	<div class="col-md-12" ng-controller="Main as main">
		<div class="row">
		<div class="col-md-4">
			<div class="row">
			<p> <button ng-click="main.load()"
					class="btn btn-default btn-md glyphicon glyphicon-refresh"
					></button> </p>
			</div>
			<div class="row">
				<table class="table table-hover border-dark ng-hide-[[loading]]">
					<thead>
					<tr class="border-dark">
						<th>Team&nbsp;<span class="caret"></span></th>
						{% comment %}
						<th><span class="glyphicon glyphicon-ok"></span>/<span class="glyphicon glyphicon-question-sign"></span>&nbsp;<span class="caret caret-reversed"></span></th>
						{% endcomment %}
						<th>Time</th>
						<th>Problem</th>
					</tr>
					</thead>

					<tbody>
					<!-- FOR________________________________________________ -->
					<tr ng-repeat="solution in solutions"
						ng-class="{tableSelected: solution == selected }"
						ng-click="main.setSelected(solution)"
						class="table-selected">
						<td>[[solution.team]]</td>
						<td>
							[[solution.minsAgo]] mins
						</td>
						<td>[[solution.problem.name]]</td>
					</tr>
					</tbody>
					<!-- END FOR______________________________________________ -->
				</table>
			</div>
		</div>
		<div class="col-md-8 ng-hide-[[!selected]]" ng-model="main.selected">
			<div class="row">
				<div class="col-md-6">
					<h2>
						{% comment %}TODO(cleanup this comment)
						<span class="glyphicon glyphicon-ok" 
							  ng-if="selected.successful"></span>
						<span class="glyphicon glyphicon-question-sign" 
							  ng-if="!selected.successful"></span>{% endcomment %}
						[[selected.problem.name]]
					</h2>
					<h4>[[selected.team]]</h4>
				</div>
				<div class="col-md-6 text-right"><h2>[[selected.time]]</h2><h4>([[selected.minsAgo]] mins ago)</h4></div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<span class="btn-group">
						<button ng-click="main.gradeResult(true, selected)"
								class="btn btn-default btn-md border-dark glyphicon glyphicon-ok"></button>
						<button ng-click="main.gradeResult(false, selected)"
								class="btn btn-default btn-md border-dark glyphicon glyphicon-remove "></button>
					</span>
					<hr/>

					<h3>
						Grading Suggestion: 
						<span class="glyphicon glyphicon-ok" 
							style="color:green" 
							ng-if="selected.successful">
						</span>
						<span class="glyphicon glyphicon-remove"
									style="color:red"
								  ng-if="!selected.successful"></span>
						<span>
					</h3>
					
					<h3>Output</h3>

					<h4>stdout</h4>
					<pre class="hljs"><code ng-bind-html="main.highlightCode(selected.execution.stdout)"></code></pre>

					<h4>diff</h4>
					<pre class="hljs"><code ng-bind-html="main.highlightCode(selected.execution.diff)"></code></pre>

					<h3>Running Time</h3>
					<p>[[selected.execution.startTime]] seconds</p>

					<h3>Command</h3>
					<pre class="hljs"><code ng-bind-html="main.highlightCode(selected.execution.command)"></code></pre>

					<h3>stdin</h3>
					<pre class="hljs"><code ng-bind-html="main.highlightCode(selected.execution.stdin)"></code></pre>

					<h3>stderr</h3>
					<pre class="hljs"><code ng-bind-html="main.highlightCode(selected.execution.stderr)"></code></pre>
				</div>
			</div>
		</div>
		</div>
</div>

{%endblock%}