{% extends 'program/base.html' %}

{% block body %}
<div class="row content">
<div class="col-md-12">
<div class="col-md-8">
	<h1>Teams</h1>

	<table class="table table-hover">
		<thead>
		<tr>
			<th>Username</th>
			<th>Team Name</th>
			<th>Score</th>
		</tr>
		<thead>

		<tbody>
		{% for u in users %}
		 <tr>
 			{% url 'user detail' u.username u.id as user_detail %}
		 	<td><a href="{{user_detail}}">{{u.username}}</a></td>
		 	<td><a href="{{user_detail}}">{{u.usersettings.teamName}}</a></td>
		 	<td>{{u.usersettings.score}}</td>
	 	</tr>
		 {% endfor %}
		 </tbody>

	</table>

</div>
</div>
</div>
{% endblock %}